<div class="container contaEncuesta">
    <div class="nameEncuesta">
        {{encuesta.nameAnswer}}
    </div>
    <div class="cantidadPreguntas">
        {{contador}} de {{encuesta.preguntas.length}}
    </div>
    <div class="contentEncuesta">
        <div class="pregunta">{{pregunta.pregunta}}</div>
        <div class="respuesta">
            <mat-radio-group *ngIf="pregunta.tipo === '0'" [(ngModel)]="respuesta">
                <mat-radio-button value="0">No</mat-radio-button>
                <mat-radio-button value="1">Si</mat-radio-button>
            </mat-radio-group>
            <mat-radio-group *ngIf="pregunta.tipo === '1'" [(ngModel)]="respuesta">
                <mat-radio-button value="0">1</mat-radio-button>
                <mat-radio-button value="1">2</mat-radio-button>
                <mat-radio-button value="2">3</mat-radio-button>
                <mat-radio-button value="3">4</mat-radio-button>
                <mat-radio-button value="4">5</mat-radio-button>
            </mat-radio-group>
            <mat-radio-group *ngIf="pregunta.tipo === '2'" [(ngModel)]="respuesta">
                <mat-radio-button value="0">1</mat-radio-button>
                <mat-radio-button value="1">2</mat-radio-button>
                <mat-radio-button value="2">3</mat-radio-button>
                <mat-radio-button value="3">4</mat-radio-button>
                <mat-radio-button value="4">5</mat-radio-button>
                <mat-radio-button value="5">6</mat-radio-button>
                <mat-radio-button value="6">7</mat-radio-button>
                <mat-radio-button value="7">8</mat-radio-button>
                <mat-radio-button value="8">9</mat-radio-button>
                <mat-radio-button value="9">10</mat-radio-button>
            </mat-radio-group>
        </div>
        <button mat-raised-button color="primary" (click)="save()">Guardar</button>
    </div>
</div>