/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-fluid{
    padding: 0;
}

.container{
    margin-top: 2em;
}

.example-container {
    
    height: 100vh;
    min-height: 100vh;
    
}
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  
.example-sidenav {
    padding: 20px;
    min-width: 20em;
}

.buttonToggle{
      min-width: 0;
      padding: 0 10px;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu > li > a{
    text-decoration: none;
    color: black;
}

.divider{
    border: #00000014 0.1em solid;
    margin-bottom: 2em;
}

.newAnswer{
    /* display: inline; */
    margin-bottom: 2em;
    cursor: pointer;
}

.numPregunta{
    max-width: 10em;
}

.containerAccordion{
    margin-bottom: 0.5em;
}

.alert{
    margin-top: 1em;
}

.conTouter{
    min-height: 75.5vh;
}

.botones{
    text-align: right;
    border-top: #00000014 1px solid;
}

.example-card{
    margin-bottom: 1em;;
}

.noEncuestas{
    text-align: center;
}

.nPreguntasEncuestas{
    margin-left: 16px;
}

.contentCanvas{
    display: inline;
    width: 400px;
}

.contentCanvas > canvas{
    display: inline;
}

.barLogin{
    height: 40px;
    background-color: #80808014;
    margin-bottom: 2em;
    border-radius: 10px;
}
.login{
    margin: 0 0 0 auto;
}

.title{
    margin: auto 0 auto 3em;
    font-size: 1.5em;
    font-weight: 500;
}

.contaEncuesta{
    text-align: center;
    margin: 10em auto;
    padding: 1em;
    background-color: #8080801a;
    border-radius: 1em;
}

.nameEncuesta{
    height: 3em;
    font-size: 1.5em;
}

.contentEncuesta{
    margin-top: 1em;
}

.pregunta{
    font-size: 1.5em;
}

.respuesta{
    margin-top: 1em;
    margin-bottom: 1em;
}

.menu > li{
    margin-top: 1em;
}


.mat-radio-label{
    margin-left: 1.5em;
}


/* .mat-form-field-underline {
    //linea inferior del input
    background-color: green !important;
}  */

.mat-form-field-ripple {
    /*color de linea inferior del input al hacer clic*/
    /* background-color: red !important; */
}
  
